@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nunito&family=Quattrocento:wght@700&family=Rubik&display=swap');

.home{
    background-color: #0A0B1A;
}

.home-section1{
    width: 100%;
    height: 120vh;
}
.home-bg{
    width: 100%;
    height: 100vh;
    background: url('./images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#overlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 110vh;
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);
    /* z-index: 2; */
}

#text {
    position: absolute;
    top: 30%;
    color: white;
}

#main-text{
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
    line-height: 6rem;
    color: white;
}

#main-p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    opacity: 0.6;
    width: 38.1875rem;
    padding-top: 1.5rem;
    line-height: 2rem;
}

.elements {
    width: 85%;
    position: absolute;
    bottom: -3rem;
}

.showsContainer{
    width: 100%;
}


.element{
    width: 267px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 600px;
}

.element1{
    width: 75%;
    height: 75%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Nunito';
}

.labelPlusIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.count{
    font-family: 'Libre Baskerville', serif;
    line-height: 2rem;
    font-size: 1.5rem;
}

.label{
    opacity: 0.5;
}

#body {
    width: 100%;
    height: 942px;
}

.One{
    height: 480px;
    color: white;
}

.Reviews{
    color: white;
    height: 348px;
    margin-top: 100px;
}

.title{
    font-family: 'Libre Baskerville', serif;
    line-height: 2.5rem;
    font-size: 2rem;
    padding-bottom: 6px;
}

.underLine{
    background: #0259EB;
    border-radius: 16px;
    width: 48px;
    height: 3px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.ViewAll{
    font-family: 'Nunito';
    line-height: 1.5rem;
    font-size: 1rem;
    color: #E5C558;
    padding: 8px;
}

.ViewAll:hover{
    cursor: pointer;
}

.shows{
    padding: 20px 10px;
    height: 90%;
    min-width: 1190px;
}

.showsReviews{
    padding: 20px 10px;
    height: 90%;
    min-width: 1200px;
}

.shadow{
    height: 100%;
    background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
    border-radius: 0.5rem;
}

.shadowReview{
    height: 100%;
    background: linear-gradient(143.63deg, #276C73 5.43%, #5293E8 110.6%);
    border-radius: 1rem;
}

.show{
    background: #111229;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

}

.review{
    background: rgba(10, 11, 26, 1);
    width: 100%;
    height: 100%;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: 2px solid rgba(229, 175, 86, 1);
}

.showImg{

}

.showLabel{
    background: #E5C558;
    border-radius: 1px;
    width: max-content;
    color: #682F26;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 6px;
    gap: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.showStar{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.moreInfo{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}


.moreInfoText{
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;

    color: #0259EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;


}

.moreInfoText:hover{
    cursor: pointer;
}

.ticket{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

}

.horiz{
    height: 32px;
    width: 1px;
    background: #FFFFFF;
    opacity: 0.1;
}

.ticketIcon{
    color: rgb(111, 0, 255);
}

.ticketIcon:hover{
    cursor: pointer;
}

.marginReview{
    margin: 2rem 1.5rem;
}

.reviewHeader{
    display: flex;
    justify-content: space-between;
    width: max-content;
}

.reviewFrom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.reviewImg{
    padding-right: 1rem;
}

.reviewName{
    font-family: 'Quattrocento', serif;
    font-size: 1rem;
    line-height: 2rem;
}

.reviewLocation{
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgba(229, 197, 88, 1);
}

.reviewContent{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 2rem;
}

.reviewNav{
    width: 9rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.reviewPages{
    width: 3rem;
    height: 1.5rem;
}

.reviewArrows{
    opacity: 0.9;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.reviewArrows:hover{
    cursor: pointer;
}

.currentPage{
    opacity: 0.8;
}

.totalPages{
    opacity: 0.5;
}

/* Slightly smaller devices */
@media screen and (max-width: 992px) {

    .container{
        min-width: 600px;
    }

    .elements {
        overflow-x: scroll;
    }

    .elements {
        overflow-x: scroll;
        position: absolute;
        bottom: 2rem;
    }

    .showsContainer{
        overflow-x: scroll;
    }

    .element{
        width: 164px;
        height: 164px;
    }

    .title{
        font-size: 1.25rem;
    }

    .ViewAll{
        padding: 8px 0px;
    }
}

/* Small screen devices. */
@media only screen and (max-width: 600px) {

    #main-text {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #main-p{
        font-size: 1rem;
        width: 100%;
        padding-top: 0;
        line-height: 1.5rem;
    }

    .elements {
        overflow-x: scroll;
        position: absolute;
        bottom: 2rem;
    }

    .showsContainer{
        overflow-x: scroll;
    }

    .element{
        width: 164px;
        height: 164px;
    }

    .title{
        font-size: 1.25rem;
    }

    .ViewAll{
        padding: 8px 0px;
    }


}